body {
    width: 100%;
}

hr {
    border-top: 1px solid #E3E3E3;
    margin: 0;
}

p.politics {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    color: #4A90E2;
    text-transform: uppercase;
}

p.tech {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    color: #FF001F;
    text-transform: uppercase;
}

p.science {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    color: #7CBB37;
    text-transform: uppercase;
}

p.sports {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    color: #F5A623;
    text-transform: uppercase;
}

.clear {
    clear: both;
}

.navbar {
    height: 56px;
}

.navbar-default {
    background-color: white;
}

.content {
    margin-top: 3%;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

[class*="col-"] {
    margin: 3% 0;
}

.author{
    padding: 5px 0 5px 0;
}

.image {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

.read-more{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    height: 45px;
    width: 151px;
    text-align: center;
    border: 1px solid white;
    visibility: hidden;
    cursor: pointer;
}

.read-more h4{
    font-size: 18px;
    color: white;
}

.image:hover .read-more {
    visibility: visible;
}

a:hover{
    text-decoration: none;
}

.col-lg{
    min-width: 1171px;
}
@media (min-width: 320px) and (max-width: 750px) {
    /*Mobile small*/
    hr {
        display: none;
    }

    h1 {
        font-family: "Lato", sans-serif;
        font-size: 17px;
        margin: 15px 0;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 17px;
    }

    h4 {
        font-family: "Open Sans", sans-serif;
        color: #686868;
        font-size: 14px;
    }

    h5 {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        color: #808080;
        margin: 10px 5px;
        font-size: 13px;
    }

    hr {
        display: none;
    }

    #smallMenu {
        float: left;
        margin-top: 15px;
        padding-left: 15px;
    }

    #logo {
        margin-top: 4px;
    }

    .navbar-nav > li > a {
        padding-top: 19px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
        text-align: center;
        margin: 0;
    }

    .author {
        display: flex;
        align-items: center;
    }

    .author-image-big, .author-image-small {
        border-radius: 50%;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        float: left;
        margin-right: 5px;
    }

    .top-component-image {
        width: 100%;
    }

}

@media (min-width: 751px) and (max-width: 1170px) {
    /*Mobile*/
    h1.politics {
        font-family: "Lato", sans-serif;
        font-size: 29px;
        margin: 15px 0 5px 0;
    }

    h1.tech, h1.science, h1.sports {
        font-family: "Lato", sans-serif;
        font-size: 17px;
        margin: 15px 0 5px 0;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 17px;
    }

    h4 {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #686868;
    }

    h4.politics {
        display: none;
    }

    h5 {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        color: #808080;
        font-size: 13px;
        margin: 10px 5px;
    }

    hr {
        display: none;
    }

    #smallMenu {
        float: left;
        margin-top: 15px;
    }

    #logo {
        margin-top: 4px;
    }

    .navbar-nav > li > a {
        padding-top: 19px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
        text-align: center;
        margin: 0;
    }

    .top-component-image {
        width: 100%;
    }

    .author {
        display: flex;
        align-items: center;
    }

    .author-image-big {
        border-radius: 50%;
        vertical-align: middle;
        float: left;
        margin-right: 5px;
    }

    .author-image-small {
        border-radius: 50%;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        float: left;
        margin-right: 5px;
    }

}

@media (min-width: 1171px) {
    /*Desktop-menu*/

    h1.politics {
        font-family: "Lato", sans-serif;
        font-size: 29px;
        margin: 15px 0;
    }

    h1.tech, h1.science, h1.sports {
        font-family: "Lato", sans-serif;
        font-size: 17px;
        margin: 15px 0;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 17px;
    }

    h3 {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-size: 14px;
        text-transform: uppercase;
        color: #3E433E;
        margin-top: 0;
        margin-right: 29px;
        text-rendering: geometricPrecision;
    }

    h3:last-child {
        margin-right: 0;
        padding-right: 0;
    }

    h4 {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #686868;
    }

    h4.politics {
        display: none;
    }

    h5 {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-size: 13px;
        color: #808080;
        margin: 10px 5px;
    }

    #smallMenu {
        display: none;
    }

    #logo {
        margin-top: 4px;
    }

    .navbar-nav > li > a {
        padding-top: 19px;
    }

    .navbar-nav > li > a > h3:last-child {
        padding-right: 0;
    }

    .top-component-image {
        width: 100%;
    }

    .author {
        display: flex;
        align-items: center;
    }

    .author-image-big {
        border-radius: 50%;
        vertical-align: middle;
        float: left;
        margin-right: 5px;
    }

    .author-image-small {
        border-radius: 50%;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        float: left;
        margin-right: 5px;
    }

}